@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/Outfit-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Outfit-bold";
  src: url("assets/fonts/Outfit-Bold.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.font-outfit {
  font-family: "Outfit";
}
.font-outfit-bold {
  font-family: "Outfit-bold";
}

body {
  background-color: #000000;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes marquee-ltr {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-ltr {
  animation: marquee-ltr 25s linear infinite;
}

.animate-marquee-rtl {
  animation: marquee-rtl 25s linear infinite;
}

.slick-dots li button:before {
  color: white;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.slick-dots li.slick-active button:before {
  color: white;
  font-size: 16px;
}

.testimonial-slider .slick-list {
  margin: 0 -1rem;
}

.testimonial-slider .slick-slide > div {
  padding: 0 1rem;
}

.custom-border {
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(#870094, #f3a701, #b29e00, #ff0b00) 1;
  border-radius: 18px;
}

/* @keyframes flip-in {
  0% {
    transform: rotateY(-180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes flip-out {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: rotateY(180deg);
  }
}

.flip-in {
  animation: flip-in 0.5s forwards;
}

.flip-out {
  animation: flip-out 0.5s forwards;
} */

.word-transition {
  display: inline-block;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.slide-out {
  opacity: 0;
  transform: translateY(-20px); /* Slide out to the right */
}

.react-select {
  background-color: #000000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
